# Set the default behavior to automatically normalize line endings.
* text=auto

# Explicitly declare text files you want to always be normalized and converted to native line endings on checkout.
*.js text
*.jsx text
*.css text
*.html text

# Declare files that will always have LF line endings on checkout.
*.sh text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

# Binary files should be treated as binary and not modified.
*.png binary
*.jpg binary
*.gif binary
*.ico binary
